html,
body {
    height: 100%;
}

.navbar {
    min-height: 4rem;
}

.content {
    height: 100%;
    margin: -4rem auto -4rem;
    padding: 4rem 0 4rem;
    overflow: hidden;
    overflow-y: scroll;
}

.category-view .badge {
    font-weight: lighter;
}

.article-view .article-image {
    min-height: 250px;
}

.content .articles {
    padding-bottom: 4rem;
}
.card.card-article {
    /*height: 300px;*/
}

.card.card-article .image-holder {
    min-height: 300px;
}

.card.card-article > .card-body > .card-body-description
{
    flex-grow: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card.card-category {
    height: 250px;
}
.card.card-category > .card-body {
    padding: 1rem;
    box-sizing: border-box;
}
.card.card-category > .card-body > .card-body-description
{
flex-grow: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 4rem;
    background-color: #f5f5f5;
    box-sizing: border-box;
    z-index: 100;
}

.jumbotron {
    height: 100%;
    text-align: center;
    background-color: transparent;
    margin-bottom: 0;
}

.jumbotron .btn {
    /*font-size: 21px;*/
    /*padding: 14px 24px;*/
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.card .card-text {
    height: 8rem;
}

/*PAGINATION BS4 FIX*/
.pagination .page-item:nth-last-child(1).disabled > span
{
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #dee2e6;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.pagination .page-item:nth-child(1).disabled > span {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #dee2e6;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}